{%- liquid
    assign NS = 'cart-item'
    assign cn = '#' | append: NS
    assign change_url = routes.cart_change_url
    assign add_item = item.quantity | plus: 1
    assign subtract_item = item.quantity | minus: 1
    assign max_qty = false
    assign track_qty = true
    if item.variant.inventory_management == nil or item.variant.inventory_policy == 'continue'
        assign track_qty = false
    endif

    if track_qty
        assign variant_cart_qty =  cart | item_count_for_variant: item.variant_id
        if variant_cart_qty == item.variant.inventory_quantity
            assign max_qty = true
        endif
        assign item_available_qty = item.variant.inventory_quantity | minus: variant_cart_qty | plus: item.quantity
    endif
-%}

<div class="{{ cn }} {% if settings.design_bg_pattern_show %}@padded{% endif %}" data-item-key="{{ item.key }}">
    <div class="{{ cn }}-spinner">
        {% render 'spinner', size: 'sm' %}
    </div>
    <div class="{{ cn }}-product">
        {% capture Product_link %}
            <a class="stretched-link" href="{{ item.variant.url }}" aria-label="{{ item.product.title }} {{ item.variant.title }}"></a>
        {% endcapture %}
       
        <div class="{{ cn }}-product-media">
             {{ Product_link }}
            {% render 'media',
                image: item.image,
                border_radius: 'base',
                image_res: 100, 
                shadow: 1
            %} 
        </div>
        <div class="{{ cn }}-product-info">
            <h5 class="{{ cn }}-product-info-title">
                {%- if settings.cart_variant_selector -%}
                    <a class="unstyled-link" href="{{ item.variant.url }}" aria-label="{{ item.product.title }}">
                        {{ item.product.title }}
                    </a>
                {%- else -%}
                    <a class="unstyled-link" href="{{ item.variant.url }}" aria-label="{{ item.product.title }}">
                        {{ item.product.title }}
                    </a>
                {%- endif -%}
            </h5>
            {% assign properties_size = item.properties | size %}
            {%- if item.product.has_only_default_variant == false or properties_size != 0 -%}
                <dl class="{{ cn }}-product-info-options">
                    {%- for option in item.options_with_values -%}
                        <div class="{{ cn }}-product-info-option">
                            <dt class="{{ cn }}-product-info-option-name">{{ option.name }}:</dt>
                            <dd class="{{ cn }}-product-info-option-value">{{ option.value }}</dd>
                            <dt class="{{ cn }}-product-info-option-name">{{ 'products.product_options.sku' | t }}:</dt>
                            <dd class="{{ cn }}-product-info-option-value">{{ item.sku }}</dd>
                        </div>
                    {%- endfor -%}
                    {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0  -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="{{ cn }}-product-info-option">
                                <dt class="{{ cn }}-product-info-option-name">{{ property.first }}:</dt>
                                <dd class="{{ cn }}-product-info-option-value">
                                <div class="variant"> SKU: {{ item.sku }}</div>
                                    {%- if property.last contains '/uploads/'  -%}
                                        <a class="unstyled-link" target="_blank" href="{{ property.last }}">
                                            {{ property.last | split: '/' | last }}
                                        </a>
                                    {%- else  -%}
                                        {{ property.last }}
                                    {%- endif -%}
                                </dd>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </dl>
                {% if settings.cart_variant_selector and item.product.has_only_default_variant == false and properties_size == 0 and item.selling_plan_allocation == nil %}
                    {% render 'cart-variant-selector-modal', line_item: item, line_index: line_index %}
                {% endif %}
            {%- else -%}
                <dl class="{{ cn }}-product-info-options">
                <div class="{{ cn }}-product-info-option">
                    <dt class="{{ cn }}-product-info-option-name">{{ 'products.product_options.sku' | t }}:</dt>
                    <dd class="{{ cn }}-product-info-option-value">{{ item.sku }}</dd>
                </div>
                </dl>
            {%- endif -%}
            {% if item.line_level_discount_allocations.size > 0 %}
                <ul class="{{ cn }}-product-info-discounts">
                    {% for discount in item.line_level_discount_allocations %}
                        <li class="{{ cn }}-product-info-discounts-item">{% render 'icon', name: 'tag', load: true %} {{ discount.discount_application.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {%- if item.selling_plan_allocation != nil -%}
                <p class="{{ cn }}-product-info-selling-plan">{{ item.selling_plan_allocation.selling_plan.name }}</p>
            {%- endif -%}
            {%- if show_stock_alert and max_qty == false and track_qty == true -%}
                {%- if item.variant.inventory_quantity <= settings.stock_threshold -%}
                    {%- assign stock_alert_message = 'products.product.stock_alert.low_stock_msg' | t: value: item.variant.inventory_quantity -%}
                    <p class="{{ cn }}-product-info-stock-alert">{{ stock_alert_message }}</p>
                {%- endif -%}
            {%- endif -%}
            {% if settings.show_preorder_badge %}
                {% assign show_preorder = false %}
                {% if item.product.template_suffix == 'pre-order' %}
                    {% assign show_preorder = true %}
                {%- elsif item.variant.inventory_quantity <= 0 and item.variant.inventory_management and item.variant.inventory_policy != 'deny' -%}
                    {% assign show_preorder = true %}
                {%- endif -%}
            {%- endif -%}
            {% if show_preorder %}                
                <p class="{{ cn }}-product-info-pre-order">{{ 'general.cart.preorder' | t }}</p>
            {% endif %}

        </div>
    </div>
    <div class="{{ cn }}-side">
    <div class="{{ cn }}-quantity">
        <div class="{{ cn }}-quantity-controls shadow-1">
            <cart-qty
                class="{{ cn }}-quantity-controls-item"
                key="{{ item.key }}"
                line="{{ line_index }}"
                section-id="{{ section.id }}"
                value="{{ subtract_item }}"
                prevent-default
            >
                <a 
                    class="{{ cn }}-quantity-controls-button reset-link"
                    href="{{ change_url }}?id={{ item.key }}}&quantity={{ subtract_item }}"
                    rel="{{ item.id }}"
                >{% render 'icon', name: 'minus' %}</a>
            </cart-qty>
            <cart-qty
                class="{{ cn }}-quantity-controls-item"
                key="{{ item.key }}"
                line="{{ line_index }}"
                section-id="{{ section.id }}"
                input
            >
                <input
                    class="{{ cn }}-quantity-controls-input"
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity | escape }}"
                    min="0"
                    {% if track_qty %}
                        max="{{ item_available_qty }}" 
                    {% endif %} 
                    step="1"
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                    id="Quantity-{{ item.key }}"
                >
            </cart-qty>
            {%- if max_qty -%}
                <button class="{{ cn }}-quantity-controls-item" disabled>
                    <a 
                        class="{{ cn }}-quantity-controls-button reset-link"
                    >{% render 'icon', name: 'plus' %}</a>
                </button>
            {%- else -%}
                <cart-qty
                    class="{{ cn }}-quantity-controls-item"
                    key="{{ item.key }}"
                    line="{{ line_index }}"
                    section-id="{{ section.id }}"
                    value="{{ add_item }}"
                    {% if max_qty %}disabled{% endif %}
                    prevent-default
                >
                    <a 
                        class="{{ cn }}-quantity-controls-button reset-link"
                        href="{{ change_url }}?id={{ item.key }}&quantity={{ add_item }}"
                        rel="{{ item.id }}"
                    >{% render 'icon', name: 'plus' %}</a>
                </cart-qty>
            {%- endif -%}

        </div>
        {%- if max_qty -%}
            <div class="{{ cn }}-quantity-max-note">
                {% render 'icon', name: 'exclamation' %}
                <span>{{ 'general.cart.qty_max_note' | t }}</span>
            </div>
        {%- endif -%}
    </div>
    <div class="{{ cn }}-subtotal">
        <div class="{{ cn }}-subtotal-price">
            <div class="{{ cn }}-subtotal-value">
                {%- if settings.product_price_zero_use_string and item.final_line_price == 0 -%}
                    {{  'products.product.price.free_price' | t }}
                {%- else -%}
                    {{ item.final_line_price | money }}
                {%- endif -%}
            </div>
            {%- if item.original_price != item.final_price -%}
                <div class="{{ cn }}-subtotal-original-value">
                    {{ item.original_line_price | money }}
                </div>
            {%- endif -%}
        </div>
        {% render 'unit-price', variant: item.variant %}
    </div>
    {%- unless hide_remove -%}        
        <div class="{{ cn }}-remove">
            <cart-qty
                key="{{ item.key }}"
                line="{{ line_index }}"
                section-id="{{ section.id }}"
                value="0"
                prevent-default
            >    
                <a class="{{ cn }}-remove-button reset-link" href="{{ change_url }}?id={{ item.key }}&quantity=0" rel="{{ item.id }}">
                    {% render 'icon', name: 'x' %}
                </a>
            </cart-qty>
          
            {%- comment -%}
                {%- assign selling_plan_id = item.selling_plan_allocation.selling_plan.id -%}
                {%- capture Product_URL -%}
                    {{ item.product.url }}?variant={{ item.variant.id }}{%- if selling_plan_id != blank -%}&selling_plan={{ selling_plan_id }}{%- endif -%}
                {%- endcapture -%}
                {%- if show_save_button -%}
                    <cart-item-saver
                        item-url="{{ Product_URL }}"
                        variant-id="{{ item.variant.id }}"
                        key="{{ item.key }}"
                        line="{{ item.index | plus: 1 }}"
                        selling-plan-id="{{ selling_plan_id }}"
                        section-id="{{ section.id }}"
                    >    
                        <a class="{{ cn }}-remove-button reset-link">
                            {% render 'icon', name: 'star' %}
                        </a>
                    </cart-item-saver>
                {%- endif -%}
            {%- endcomment -%}
        </div>
    {%- endunless -%}
    </div>
</div>
