{% liquid
    assign NS = 'cart-notification-free-shipping-bar'
    assign cn = '#' | append: NS
%}

<free-shipping-progress-bar cart-amount="{{ cart.total_price }}" free-shipping-amount="{{ settings.free_shipping_min_amount | times: 100 }}" class="{{ cn }}" {{ block.shopify_attributes }}>
    <h5 class="{{ cn }}-msg">
        <span hidden data-element="msg-eligible">{{ 'sections.cart.free_shipping_aligible' | t }}</span>
        <span hidden data-element="msg-shortage">{{ 'sections.cart.free_shipping_shortage_html' | t: amount: '' }}</span>
    </h5>
    <div data-element="progress" class="{{ cn }}-progress"></div>
</free-shipping-progress-bar>
