{% liquid
    assign NS = 'compare-products'
    assign cn = '#' | append: NS 

    assign compare_products = section.settings.compare_products | uniq
    assign compare_products = product | concat: compare_products | uniq
%}

{%- capture image_srcsize_desktop -%}(min(100vw, {{ settings.container_width }}px) - min(3rem, 5vw))/6{%- endcapture -%}
{%- capture image_srcsize_mobile -%}90vw/1.5{%- endcapture -%}

{% capture Content %}
    <{{ NS }} 
        class="{{ cn }} {% if section.settings.show_main_product_accent %}@accent-main-product{% endif %} {% if section.settings.show_stripes %}@stripes{% endif %}"
        section-id="{{ section.id }}"
        product-url="{{ product.url }}"
    >
        <div class="{{ cn }}-row">
            <div class="{{ cn }}-column"></div>
            {% for c_product in compare_products limit: 5 %}
                {%- liquid
                    assign current_variant = c_product.selected_or_first_available_variant
                    assign image = current_variant.image | default: c_product.featured_image
                -%}
                <div class="{{ cn }}-column" data-variant-id="{{ current_variant.id }}">
                    <div class="{{ cn }}-product">
                        <a href="{{ current_variant.url }}" class="stretched-link" aria-label="{{ c_product.title }}"></a>
                        <div class="{{ cn }}-product-media">
                            {% render 'media',
                                image: image,
                                size: 'square',
                                srcsize_desktop: image_srcsize_desktop,
                                srcsize_mobile: image_srcsize_mobile,
                                image_fit: 'contain'
                            %}
                        </div>
                        <h5 class="{{ cn }}-product-title">
                            {% capture Title %}
                                {% if forloop.first and request.page_type == 'product' %}
                                    <strong>{{ 'sections.compare_products.this_item' | t }}</strong>
                                {% endif %}
                                {{ c_product.title }}
                            {% endcapture %}
                            {% if section.settings.enable_product_title_truncation %}
                                <span class="#text-truncate" style="--text-truncate-lines: {{ section.settings.product_title_max_lines }}">{{ Title }}</span>
                            {% else %}
                                {{ Title }}
                            {% endif %}
                        </h5>
                        {%- if c_product.has_only_default_variant == false -%}
                            {%- if forloop.first and request.page_type == 'product' -%}
                                <span class="{{ cn }}-product-variant">
                                    {{ current_variant.title }}
                                </span>
                            {%- else -%}
                                <div class="{{ cn }}-product-link">
                                    {% render 'button',
                                        t_text: 'products.product.more_options',
                                        tag: 'a',
                                        tier: 'link',
                                        link: c_product.url,
                                        block: true,
                                        no_arrow: true,
                                        size: 'sm'
                                    %}
                                </div>
                            {%- endif -%}
                        {%- endif -%}
                        <div class="{{ cn }}-product-action">
                            {%- if current_variant.available -%}
                                {%- capture Button -%}
                                    {% render 'button',
                                        element: 'to-cart-button'
                                        t_text: 'products.product.add_to_cart',
                                        block: true,
                                        loading: true,
                                        size: 'sm',
                                        no_arrow: true
                                    %}
                                {%- endcapture -%}

                                {% render 'product-to-cart', 
                                    trigger: Button, 
                                    variant: current_variant
                                %}
                            
                            {%- else -%}
                                {%- assign button_text = 'products.product.sold_out' -%}
                                {% render 'button',
                                    t_text: button_text,
                                    block: true,
                                    atts: 'disabled',
                                    size: 'sm',
                                    no_arrow: true
                                %}
                            {%- endif -%}
                        </div>
                    </div>        
                </div>
            {% endfor %}
        </div>
        {% for block in section.blocks %}
            {% capture Block_content %}
                {% case block.type %}
                    {% when 'price' %}
                        {% assign show_block = true %}
                        <div class="{{ cn }}-column">
                            <span class="{{ cn }}-label">{{ 'sections.compare_products.price' | t }}</span>
                        </div>
                        {% for c_product in compare_products limit: 5 %}
                            <div class="{{ cn }}-column {% if forloop.first and request.page_type == 'product' %}@main-product{% endif %}">
                                <div class="{{ cn }}-price {% if block.settings.enlarge %}@enlarge{% endif %}">{{ c_product.selected_or_first_available_variant.price | money }}</div>
                            </div>
                        {% endfor %}
                    {% when 'vendor' %}
                        {% assign show_block = true %}
                        <div class="{{ cn }}-column">
                            <span class="{{ cn }}-label">{{ 'sections.compare_products.brand' | t }}</span>
                        </div>
                        {% for compare_product in compare_products limit: 5 %}
                            <div class="{{ cn }}-column {% if forloop.first and request.page_type == 'product' %}@main-product{% endif %}">{{ compare_product.vendor }}</div>
                        {% endfor %}
                    {% when 'rating' %}
                        {% if block.settings.hide_no_match %}
                            {% assign show_block = false %}
                        {% else %}
                            {% assign show_block = true %}
                        {% endif %}
                        <div class="{{ cn }}-column">
                            <span class="{{ cn }}-label">{{ 'sections.compare_products.rating' | t }}</span>
                        </div>
                        {% for c_product in compare_products limit: 5 %}
                            <div class="{{ cn }}-column {% if forloop.first and request.page_type == 'product' %}@main-product{% endif %}">
                                {% assign reviews = c_product.metafields.reviews %}
                                {% if reviews != blank %}
                                    {% assign show_block = true %}
                                    {% render 'star-rating', 
                                        value: reviews.rating.value, 
                                        count: reviews.rating_count,
                                        show_count_brackets: true
                                    %}                                   
                                {% else %}
                                    <div class="{{ cn }}-value-na">
                                        {% render 'icon', name: 'minus' %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% when 'stock_alert' %}
                        {%- liquid
                            assign show_block = true
                            assign stock_threshold = settings.stock_threshold
                        -%}
                        <div class="{{ cn }}-column">
                            <span class="{{ cn }}-label">
                                {{ 'sections.compare_products.availability' | t }}
                            </span>
                        </div>
                        {% render 'load-css', file: 'product-stock-alert' %}
                        {% for compare_product in compare_products limit: 5 %}
                            <div class="{{ cn }}-column {% if forloop.first and request.page_type == 'product' %}@main-product{% endif %}">
                                {%- render 'product-stock-alert',
                                    id: block.id,
                                    product: compare_product,
                                    stock_threshold: stock_threshold
                                -%}
                            </div>
                        {% endfor %}
                    {% when 'product_option' %}
                        {% if block.settings.display == 'always' %}
                            {% assign show_block = true %}
                        {% else %}
                            {% assign show_block = false %}
                        {% endif %}
                        {% assign match_counter = 0 %}
                        <div class="{{ cn }}-column">
                            <span class="{{ cn }}-label">{{ block.settings.name }}</span>
                        </div>
                        {% for c_product in compare_products limit: 5 %}
                            {% assign match_option = c_product.options_with_values | where: 'name', block.settings.name | first %}
                            <div class="{{ cn }}-column {% if forloop.first and request.page_type == 'product' %}@main-product{% endif %}">
                                {% if match_option != blank %}
                                    {% assign match_counter = match_counter | plus: 1 %}
                                    {% assign position = 'option' | append: match_option.position %}
                                    {{ c_product.selected_or_first_available_variant[position] }}
                                {% else %}
                                    {% if block.settings.display == 'all_match' %}
                                        {% assign show_block = false %}
                                        {% break %}
                                    {% endif %}
                                    <div class="{{ cn }}-value-na">
                                        {% render 'icon', name: 'minus' %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if block.settings.display == 'all_match' and match_counter == compare_products.size %}
                            {% assign show_block = true %}
                        {% endif %}
                        {% if block.settings.display == 'one' and match_counter >= 1 %}
                            {% assign show_block = true %}
                        {% endif %}
                        {% if block.settings.display == 'two' and match_counter >= 2 %}
                            {% assign show_block = true %}
                        {% endif %}
                    {% when 'metafield' %}
                        {% if block.settings.display == 'always' %}
                            {% assign show_block = true %}
                        {% else %}
                            {% assign show_block = false %}
                        {% endif %}
                        {% assign match_counter = 0 %}
                        <div class="{{ cn }}-column">
                            <span class="{{ cn }}-label">{{ block.settings.label }}</span>
                        </div>
                        {% assign ns_handle = block.settings.key | split: '.' %}
                        {% assign ns = ns_handle[0] %}
                        {% assign handle = ns_handle[1] %}
                        {% for c_product in compare_products limit: 5 %}
                            {% assign metafield = c_product.metafields[ns][handle].value %}
                            <div class="{{ cn }}-column {% if forloop.first and request.page_type == 'product' %}@main-product{% endif %}">
                                {% if metafield != blank %}
                                    {% assign match_counter = match_counter | plus: 1 %}
                                    {{ metafield }}
                                {% else %}
                                    {% if block.settings.display == 'all_match' %}
                                        {% assign show_block = false %}
                                        {% break %}
                                    {% endif %}
                                    <div class="{{ cn }}-value-na">
                                        {% render 'icon', name: 'minus' %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if block.settings.display == 'all_match' and match_counter == compare_products.size %}
                            {% assign show_block = true %}
                        {% endif %}
                        {% if block.settings.display == 'one' and match_counter >= 1 %}
                            {% assign show_block = true %}
                        {% endif %}
                        {% if block.settings.display == 'two' and match_counter >= 2 %}
                            {% assign show_block = true %}
                        {% endif %}
                    {% endcase %}
                {% endcapture %}
                {% if show_block == true %}
                    <div class="{{ cn }}-row" {{ block.shopify_attributes }}>
                        {{ Block_content }}
                    </div>
                {% endif %}
        {% endfor %}
    </{{ NS }}>
{% endcapture %}


{% if section.settings.compare_products.count > 0 %}
    {% render 'load-css', file: NS %}
    {% render 'section-body',
        content: Content,
        heading: section.settings.heading,
        subheading: section.settings.subheading,
        spaced: true,
        container: true
    %}
{% endif %}

<script type="module" src="{{ NS |append: '.js' | asset_url }}"></script>

{% schema %}
    {
        "name": "Compare products",
        "settings": [
            {
                "type": "paragraph",
                "content": "This section is not displayed if products are not provided."
            },
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "t:g.common.label.heading",
                "info": "t:g.info.heading_highlight",
                "default": "Compare with similar items"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
                "info": "t:g.hero.subheading_position.info"
            },
            {
                "type": "paragraph",
                "content": "Select up to 5 products to compare. On the product page, the currently selected product variant will be compared with the 4 selected products. The first available product variants will be selected for comparison."
            },
            {
                "type": "product_list",
                "id": "compare_products",
                "label": "Products to compare",
                "limit": 5,
                "info": "Metafields (product list) recommended. [Learn more](https:\/\/support.milehighthemes.com\/article\/133-creating-a-product-comparison-function-on-product-pages-multi-theme)"
            },
            {
                "type": "checkbox",
                "id": "show_stripes",
                "label": "Show stripes",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "show_main_product_accent",
                "label": "Accent main product",
                "default": true,
                "info": "Has an effect only on a product page"
            },
            {
                "type": "checkbox",
                "id": "enable_product_title_truncation",
                "label": "Enable product title truncation",
                "default": true
            },
            {
                "type": "range",
                "id": "product_title_max_lines",
                "label": "Maximum lines before truncation",
                "min": 1,
                "step": 1,
                "max": 3,
                "default": 2,
                "info": "Is ignored if truncation is not enabled"
            }
        ],
        "blocks": [
            {
                "type": "price",
                "name": "Price",
                "limit": 1,
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "enlarge",
                        "label": "Enlarge price",
                        "default": true
                    }
                ]
            },
            {
                "type": "rating",
                "name": "Rating",
                "limit": 1,
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "hide_no_match",
                        "label": "Hide rating if none of compared products are rated",
                        "default": true
                    }
                ]
            },
            {
                "type": "vendor",
                "name": "Vendor (brand)",
                "limit": 1
            },
            {
                "type": "stock_alert",
                "name": "Availability",
                "limit": 1
            },
            {
                "type": "product_option",
                "name": "Variant option",
                "settings": [
                    {
                        "type": "paragraph",
                        "content": "Additional option to comapre."
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Option name",
                        "info": "Use one of the existed product option name."
                    },
                    {
                        "type": "select",
                        "id": "display",
                        "label": "Display when",
                        "options": [
                            {
                                "value": "all_match",
                                "label": "All products have this option"
                            },
                            {
                                "value": "one",
                                "label": "At least one product has this option"
                            },
                            {
                                "value": "two",
                                "label": "At least two products have this option"
                            },
                            {
                                "value": "always",
                                "label": "Always"
                            }
                        ],
                        "default": "one"
                    }
                ]
            },
            {
                "type": "metafield",
                "name": "Metafield",
                "settings": [
                    {
                        "type": "text",
                        "id": "label",
                        "label": "Label"
                    },
                    {
                        "type": "text",
                        "id": "key",
                        "label": "Metafield namespace and key"
                    },
                    {
                        "type": "select",
                        "id": "display",
                        "label": "Display when",
                        "options": [
                            {
                                "value": "all_match",
                                "label": "All products have this metafield"
                            },
                            {
                                "value": "one",
                                "label": "At least one product have this metafield"
                            },
                            {
                                "value": "two",
                                "label": "At least two products have this metafield"
                            },
                            {
                                "value": "always",
                                "label": "Always"
                            }
                        ],
                        "default": "one"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Compare products",
                "blocks": [
                    {
                        "type": "price"
                    },
                    {
                        "type": "rating"
                    },
                    {
                        "type": "vendor"
                    }
                ]
            }
        ],
        "disabled_on": {
            "templates": ["password"],
            "groups": ["header", "footer", "custom.overlay"]
        }
    }
{% endschema %}