{%- liquid
    assign position = section.settings.text_position | split: '-'
    assign text_y = position[0]
    assign text_x = position[1]
    assign buttons_block = section.blocks | where: 'type', 'buttons' | first
    assign f_button_link = buttons_block.settings.f_button_link
    if buttons_block.settings.f_button_label == blank and buttons_block.settings.s_button_label == blank
        assign stretched_link = true
    endif
    assign hide_mobile_buttons = buttons_block.settings.mobile_hidden
    if section.settings.section_layout
        assign section_spaced = true
        assign section_curved = true
    endif 

    assign mobile_offset = section.settings.mobile_offset
    if mobile_offset == true
        assign align_mobile_center = true
        assign mobile_overlay = 0
    endif
    assign use_box = section.settings.use_box

    unless section.settings.image_size == 'origin'
        assign image_height = section.settings.image_size
    endunless
    unless section.settings.mobile_image_size == 'origin'
        assign mobile_image_height = section.settings.mobile_image_size
    endunless

    if mobile_offset == true
        assign mobile_box = true
    endif

    assign image_loading = 'lazy'
    if section.index0 == 0
        assign image_loading = 'eager'
    endif
-%}


{%- capture Hero_text -%}
    {% render 'hero', 
        blocks: section.blocks,
        align: text_x,
        auto_colors: true,
        box: use_box,
        mobile_box: section.settings.mobile_offset,
        hide_mobile_buttons: hide_mobile_buttons,
        align_mobile_center: align_mobile_center
    %}
{%- endcapture -%}

{% capture Caption %}
    {% render 'floating-content',
        content: Hero_text,
        absolute: true,
        x: text_x,
        y: text_y,
        mobile_offset: section.settings.mobile_offset,
        container: true,
        padded: true
    %}
    {%- if f_button_link != blank -%}
        {%- if stretched_link -%}
            <a class="stretched-link" href="{{ f_button_link }}" aria-label="{{ f_button_label }}"></a>
        {%- elsif hide_mobile_buttons -%}
            <a class="stretched-link desktop-hidden" href="{{ f_button_link }}" aria-label="{{ f_button_label }}"></a>
        {%- endif -%}
    {%- endif -%}
{% endcapture %}


{% capture Content %}
    {% if section.settings.use_box %}
        {% assign overlay = 0 %}
    {% else %}
        {% assign overlay = section.settings.overlay %}
    {% endif %}
    <div class="rel">
        {% render 'media'
            image: section.settings.image,
            image_mobile: section.settings.mobile_image,
            height: image_height,
            height_mobile: mobile_image_height,
            placeholder: 'hero-apparel',
            overlay: overlay,
            mobile_overlay: mobile_overlay,
            image_loading: image_loading
        %}
        {{ Caption }}
    </div>
{% endcapture %}

{% render 'section-body',
    content: Content,
    container: section.settings.section_layout,
    spaced: section_spaced,
    curved: section_curved,
    color_scheme: section.settings.color_scheme,
    paint: 'none'
%}

{% schema %}
{
  "name": "Hero image",
  "tag": "section",
  "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "invert",
        "label": "Color Scheme"
    },
    {
        "type": "select",
        "id": "section_layout",
        "label": "t:g.section.layout.label",
        "options": [
            {
                "value": "container",
                "label": "Container"
            },
            {
                "value": "full",
                "label": "Full width"
            }
        ],
        "default": "full"
    },
    {
        "type": "header",
        "content": "t:g.common.media"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:g.media.image",
        "info": "t:g.media.resolution_recommendations.full_screen"
    },
    {
        "type": "select",
        "id": "image_size",
        "label": "t:g.media.image_size.label",
        "options": [
            {
                "value": "origin",
                "label": "Original"
            },
            {
                "value": "100vh",
                "label": "Full height"
            },
            {
                "value": "450px",
                "label": "450px"
            },
            {
                "value": "550px",
                "label": "550px"
            },
            {
                "value": "650px",
                "label": "650px"
            },
            {
                "value": "750px",
                "label": "750px"
            }
        ],
        "default": "origin"
    },
    {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "t:g.media.mobile_image",
        "info": "t:g.media.resolution_recommendations.mobile"
    },
    {
        "type": "select",
        "id": "mobile_image_size",
        "label": "t:g.media.image_size.mobile_label",
        "options": [
            {
                "value": "origin",
                "label": "Original"
            },
            {
                "value": "100vh",
                "label": "Full height"
            },
            {
                "value": "350px",
                "label": "350px"
            },
            {
                "value": "450px",
                "label": "450px"
            },
            {
                "value": "550px",
                "label": "550px"
            },
            {
                "value": "650px",
                "label": "650px"
            }
        ],
        "default": "origin",
        "info": "t:g.media.resolution_recommendations.mobile"
    },
    {
        "type": "range",
        "id": "overlay",
        "min": 0,
        "max": 90,
        "step": 5,
        "default": 0,
        "unit": "%",
        "label": "t:g.media.overlay"
    },
    {
        "type": "header",
        "content": "t:g.common.caption"
    },
    {
        "type": "checkbox",
        "id": "use_box",
        "label": "t:g.hero.use_box",
        "info": "t:g.hero.use_box_hero_info"
    },
    {
        "type": "select",
        "id": "text_position",
        "label": "t:g.hero.caption.position.label",
        "options": [
          {
            "value": "top-left",
            "label": "t:g.hero.caption.position.options.x0y0"
          },
          {
            "value": "top-center",
            "label": "t:g.hero.caption.position.options.x0y1"
          },
          {
            "value": "top-right",
            "label": "t:g.hero.caption.position.options.x0y2"
          },
          {
            "value": "center-left",
            "label": "t:g.hero.caption.position.options.x1y0"
          },
          {
            "value": "center-center",
            "label": "t:g.hero.caption.position.options.x1y1"
          },
          {
            "value": "center-right",
            "label": "t:g.hero.caption.position.options.x1y2"
          },
          {
            "value": "bottom-left",
            "label": "t:g.hero.caption.position.options.x2y0"
          },
          {
            "value": "bottom-center",
            "label": "t:g.hero.caption.position.options.x2y1"
          },
          {
            "value": "bottom-right",
            "label": "t:g.hero.caption.position.options.x2y2"
          }
        ],
        "default": "center-center"
      },
      {
        "type": "checkbox",
        "id": "mobile_offset",
        "label": "Display text in the card below the image on mobile",
        "default": false,
        "info": "t:g.hero.use_box_hero_info"
      }
  ],
  "blocks": [
      {
        "type": "image",
        "name": "t:g.hero.image.name",
        "limit": 1,
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:g.hero.image.label",
                "info": "t:g.hero.image.info"
            },
            {
                "type": "range",
                "id": "image_width",
                "label": "t:g.hero.image.width",
                "min": 10,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 60
            }
        ]
      },
      {
            "type": "social_menu",
            "name": "Social media icons",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "t:settings_schema.social-media.info"
                },
                {
                    "type": "checkbox",
                    "id": "social_new_tab",
                    "label": "Open social media profiles in a new tab",
                    "default": true
                }
            ]
        },
    {
        "type": "icon",
        "name": "t:g.hero.icon.name",
        "limit": 1,
        "settings": [
            {
                "type": "select",
                "id": "icon",
                "label": "t:g.common.icon.label",
                "options": [
                    {
                        "value": "bell",
                        "label": "t:g.icons.bell"
                    },
                    {
                        "value": "check",
                        "label": "t:g.icons.check"
                    },
                    {
                        "value": "clock",
                        "label": "t:g.icons.clock"
                    },
                    {
                        "value": "coins",
                        "label": "t:g.icons.coins"
                    },
                    {
                        "value": "credit-card",
                        "label": "t:g.icons.credit_card"
                    },
                    {
                        "value": "truck-delivery",
                        "label": "t:g.icons.truck_delivery"
                    },
                    {
                        "value": "discount",
                        "label": "t:g.icons.discount"
                    },
                    {
                        "value": "flag",
                        "label": "t:g.icons.flag"
                    },
                    {
                        "value": "mood-happy",
                        "label": "t:g.icons.mood_happy"
                    },
                    {
                        "value": "headphones",
                        "label": "t:g.icons.headphones"
                    },
                    {
                        "value": "heart",
                        "label": "t:g.icons.heart"
                    },
                    {
                        "value": "help",
                        "label": "t:g.icons.help"
                    },
                    {
                        "value": "info",
                        "label": "t:g.icons.info"
                    },
                    {
                        "value": "leaf",
                        "label": "t:g.icons.leaf"
                    },
                    {
                        "value": "lock",
                        "label": "t:g.icons.lock"
                    },
                    {
                        "value": "mail",
                        "label": "t:g.icons.mail"
                    },
                    {
                        "value": "map-marker",
                        "label": "t:g.icons.map_marker"
                    },
                    {
                        "value": "message",
                        "label": "t:g.icons.message"
                    },
                    {
                        "value": "pig-money",
                        "label": "t:g.icons.pig_money"
                    },
                    {
                        "value": "package",
                        "label": "t:g.icons.package"
                    },
                    {
                        "value": "phone",
                        "label": "t:g.icons.phone"
                    },
                    {
                        "value": "receipt",
                        "label": "t:g.icons.receipt"
                    },
                    {
                        "value": "recycle",
                        "label": "t:g.icons.recycle"
                    },
                    {
                        "value": "rocket",
                        "label": "t:g.icons.rocket"
                    },
                    {
                        "value": "shield-check",
                        "label": "t:g.icons.shield_check"
                    },
                    {
                        "value": "mood-smile",
                        "label": "t:g.icons.mood_smile"
                    },
                    {
                        "value": "star",
                        "label": "t:g.icons.star"
                    },
                    {
                        "value": "building-store",
                        "label": "t:g.icons.building_store"
                    },
                    {
                        "value": "tag",
                        "label": "t:g.icons.tag"
                    },
                    {
                        "value": "thumbs-up",
                        "label": "t:g.icons.thumbs_up"
                    },
                    {
                        "value": "users",
                        "label": "t:g.icons.users"
                    }
                ],
                "default": "star"
            },
            {
                "type": "range",
                "id": "icon_scale",
                "label": "Icon scale",
                "min": 100,
                "max": 300,
                "step": 10,
                "default": 100,
                "unit": "%"
            }
        ]
    },
    {
        "type": "heading",
        "name": "t:g.hero.heading.name",
        "limit": 1,
        "settings": [
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "t:g.hero.heading.label",
                "default": "Image banner",
                "info": "t:g.info.heading_highlight"
            },
            {
                "type": "range",
                "id": "heading_scale",
                "label": "Heading scale",
                "min": 80,
                "max": 250,
                "default": 120,
                "step": 5,
                "unit": "%",
                "info": "Based on 'Headings base font size' theme setting"
            }
        ]
    },
    {
        "type": "subheading",
        "name": "t:g.hero.subheading.name",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "subheading",
                "label": "t:g.hero.subheading.label",
                "default": "Subheading"
            }
        ]
    },
    {
        "type": "text",
        "name": "t:g.hero.text.name",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "text",
                "label": "t:g.hero.text.label",
                "default": "<p>Text</p>"
            },
            {
                "type": "checkbox",
                "id": "enlarge_text",
                "label": "Enlarge text"
            }
        ]
    },
    {
        "type": "timer",
        "name": "Countdown",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "date",
                "label": "End date",
                "info": "Format: mm-dd-yyyy",
                "default": "04-03-2024"
            },
            {
                "type": "checkbox",
                "id": "hide_on_complete",
                "label": "Hide timer on complete"
            }
        ]
    },
    {
        "type": "buttons",
        "name": "t:g.hero.buttons.name",
        "limit": 1,
        "settings": [
            {
                "type": "paragraph",
                "content": "t:g.hero.buttons.area_link_note"
            },
            {
                "type": "checkbox",
                "id": "mobile_hidden",
                "label": "t:g.hero.buttons.mobile_hidden.label",
                "info": "t:g.hero.buttons.mobile_hidden.info"
            },
            {
                "type": "text",
                "id": "info",
                "label": "Buttons info block",
                "info": "Will be hidden if buttons are not set"
            },
            {
                "type": "header",
                "content": "t:g.hero.buttons.first.header" 
            },
            {
                "type": "text",
                "id": "f_button_label",
                "label": "t:g.hero.buttons.first.label"
            },
            {
                "type": "url",
                "id": "f_button_link",
                "label": "t:g.hero.buttons.first.link"
            },
            {
                "type": "select",
                "id": "f_button_tier",
                "label": "t:g.hero.buttons.second.style",
                "options": [
                    {
                        "value": "primary",
                        "label": "Primary"
                    },
                    {
                        "value": "secondary",
                        "label": "Secondary"
                    },
                    {
                        "value": "link",
                        "label": "Link"
                    }
                ],
                "default": "primary",
                "info": "t:g.info.button.style"
            },
            {
                "type": "header",
                "content": "t:g.hero.buttons.second.header" 
            },
            {
                "type": "text",
                "id": "s_button_label",
                "label": "t:g.hero.buttons.second.label"
            },
            {
                "type": "url",
                "id": "s_button_link",
                "label": "t:g.hero.buttons.second.link"
            },
            {
                "type": "select",
                "id": "s_button_tier",
                "label": "t:g.hero.buttons.second.style",
                "options": [
                    {
                        "value": "primary",
                        "label": "Primary"
                    },
                    {
                        "value": "secondary",
                        "label": "Secondary"
                    },
                    {
                        "value": "link",
                        "label": "Link"
                    }
                ],
                "default": "secondary",
                "info": "t:g.info.button.style"
            }
        ]
    },
    {
        "type": "product",
        "name": "Product",
        "limit": 1,
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type": "checkbox",
                "id": "show_add_to_cart",
                "label": "Show add to cart button",
                "default": false
            }
        ]
    },
    {
        "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Hero image",
      "blocks": [
        {
            "type": "subheading",
            "settings": {
                "subheading": "Subheading"
            }
        },
        {
            "type": "heading",
            "settings": {
                "heading": "Hero Image Heading"
            }
        },
        {
            "type": "text",
            "settings": {
                "text": "<p>Give customers details about the hero image or content on the template.</p>"
            }
        },
        {
            "type": "buttons",
            "settings": {
                "f_button_label": "Shop Now"
            }
        }
      ]
    }
  ],
    "disabled_on": {
        "templates": ["password"],
        "groups": ["header", "custom.overlay"]
    }
}
{% endschema %}