{% liquid
    assign NS = 'popup-gallery'
    assign cn = '#' | append: NS
    assign item_prefix = NS | append: '-' | append: section.id | append: '-'
    if section.settings.stacked_columns
        assign gap = '0px'
        assign gap_mobile = '0px'
        assign curved_section = true
    else
        assign curved_section = false
        assign gap = 'var(--glob-gutter)'
        assign gap_mobile = 'var(--glob-gutter)'
        assign animate_target = 'hover-animate-target'
    endif

    assign columns = section.settings.columns
    assign mobile_columns = section.settings.mobile_columns

    assign spaced = true
    if section.settings.layout == 'full'
        assign curved_section = false
        assign spaced = false
    endif
    assign popup_id = 'popup-gallery-' | append: section.id 
%}

{%- capture image_srcsize_desktop -%}(min(100vw, {{ settings.container_width }}px) - min(3rem, 5vw))/{{ columns }} - {{ gap }}rem{%- endcapture -%}
{%- capture image_srcsize_mobile -%}90vw/{{ mobile_columns }} - {{ gap_mobile }}rem{%- endcapture -%}

{% render 'load-css', file: NS, lazy: true %}
{% render 'load-css', file: 'popup-product-gallery-item', lazy: true %}

{% capture Content %}
    <slideshow-blaze-controller section-id="{{ section.id }}">
        <div class="#grid @type:columns {% if section.settings.layout == 'full' %}@outer-gap{% endif %}" style="--columns: {{ columns }}; --columns-mobile: {{ mobile_columns }}; --gap: {{ gap }}; --gap-mobile: {{ gap_mobile }};">
            {% for block in section.blocks %}
                {% assign hero_image = block.settings.image | default: block.settings.product.featured_image %}
                <div class="{{ cn }}-item hover-animate {{ animate_target }} {% if section.settings.stacked_columns %}@stacked{% endif %}" {{ block.shopify_attributes }}>
                    <modal-open tabindex="0" target="{{ popup_id }}" section-id="{{ section.id }}">
                        <div class="{{ cn }}-item-media" data-element="controller" data-control-index="{{ forloop.index0 }}">
                            {% if hero_image == blank %}
                                {%- capture placeholder_index -%}{%- cycle 1, 2, 3, 4 -%}{%- endcapture -%}
                            {% endif %}
                            {% render 'media',
                                image: hero_image,
                                placeholder: 'collection-apparel',
                                placeholder_index: placeholder_index,
                                srcsize_desktop: image_srcsize_desktop,
                                srcsize_mobile: image_srcsize_mobile,
                                size: section.settings.image_size
                            %}
                        </div>
                    </modal-open>
                </div>
                {%- capture Slides -%}
                    {{ Slides }}
                    {% render 'popup-product-gallery-item',
                        hero: hero_image,
                        product: block.settings.product,
                        subtitle: block.settings.product_subtitle,
                        placeholder_index: placeholder_index,
                        show_product_custom_badges: section.settings.show_product_custom_badges
                    %}
                {%- endcapture -%}
            {% endfor %}
            {% capture Slider %}
                {% render 'slideshow-blaze',
                    slides: Slides,
                    id: popup_id,
                    show_navigation: true
                %}
            {% endcapture %}
            {% render 'modal',
                content: Slider,
                id: popup_id,
                width: 'container'
            %}
        </div>
    </slideshow-blaze-controller>
{% endcapture %}

<script type="module" src="{{ 'slideshow-blaze-controller.js' | asset_url }}"></script>

{% render 'section-body',
    content: Content,
    heading: section.settings.heading,
    subheading: section.settings.subheading,
    container: section.settings.layout,
    curved: curved_section,
    spaced: spaced
%}

{% schema %}
{
    "name": "Shoppable gallery",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "t:g.common.label.heading",
            "info": "t:g.info.heading_highlight",
            "default": "Popup gallery"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "info": "t:g.hero.subheading_position.info"
        },
        {
            "type": "select",
            "id": "layout",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full",
                    "label": "Full width"
                }
            ],
            "label": "Layout"
        },
        {
            "type": "checkbox",
            "id": "stacked_columns",
            "label": "Stack columns",
            "default": true,
            "info": "Removes padding around images"
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "t:g.media.image_size.gallery_label",
            "options": [
                {
                    "value": "portrait",
                    "label": "t:g.media.image_size.options.portrait"
                },
                {
                    "value": "landscape",
                    "label": "t:g.media.image_size.options.landscape"
                },
                {
                    "value": "square",
                    "label": "t:g.media.image_size.options.square"
                }
            ],
            "default": "square" 
        },
        {
            "type": "range",
            "id": "columns",
            "label": "Desktop columns",
            "step": 1,
            "max": 10,
            "min": 2,
            "default": 6
        },
        {
            "type": "range",
            "id": "mobile_columns",
            "label": "Mobile columns",
            "min": 2,
            "step": 1,
            "max": 4,
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "show_product_custom_badges",
            "label": "Show product custom badges",
            "info": "t:g.info.custom_badges",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:g.media.image",
                    "info": "t:g.media.resolution_recommendations.half_of_screen"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "product_subtitle",
                    "label": "Product subtitle"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Shoppable gallery",
            "blocks": [
              {
                  "type": "image"
              },
              {
                  "type": "image"
              },
              {
                  "type": "image"
              },
              {
                  "type": "image"
              },
              {
                  "type": "image"
              },
              {
                  "type": "image"
              }
            ]
        }
    ],
    "disabled_on": {
        "templates": ["password"],
        "groups": ["header", "custom.overlay"]
    }
}
{% endschema %}