{%- liquid
    assign NS = 'announcement-bar'
    assign cn = '#' | append: NS

    unless section.settings.home_page_only and request.page_type != 'index'
        assign announcements_count = 0
        for block in section.blocks
            if block.settings.text != blank
                assign announcements_count = announcements_count | plus: 1
                if announcements_count > 1
                    assign slides = true
                    break
                endif
                assign display = true
            endif
        endfor
    endunless
-%}

{% render 'load-css', file: NS, lazy: true %}

{%- if display -%}
    {%- capture Content -%}
        <{{ NS }}
            {% if section.settings.close_btn %}
                hidden
            {% endif %}
            section-id="{{ section.id }}"
            class="{{ cn }} initial-hidden {% if section.settings.close_btn %}@with-close-button{% endif %}" 
        >
            {%- capture Announcements -%}
                {% for block in section.blocks %}
                    {%- if block.settings.text != blank -%}
                        {%- capture Announcement_content -%}
                            <div class="{{ cn }}-text" {{ block.shopify_attributes }}>
                                {%- if block.settings.link != blank -%}
                                    <a class="stretched-link " href="{{ block.settings.link }}" aria-label="{{ 'general.accessibility.announcement' | t }}"></a>
                                {%- endif -%}
                                {%- if block.settings.icon != 'none' -%}
                                    <span class="{{ cn }}-text-icon">
                                        {% render 'icon', 
                                            name: block.settings.icon,
                                            load: true
                                        %}
                                    </span>
                                {%- endif -%}
                                {{ block.settings.text }}
                            </div>
                        {%- endcapture -%}
                        {{ Announcement_content }}
                    {%- endif -%}
                {% endfor %}
            {%- endcapture -%}

            {%- if slides -%}
                {% render 'slideshow-blaze',
                    slides: Announcements,
                    loop: true,
                    show_navigation: section.settings.show_arrows_navigation,
                    show_pagination: false,
                    autoplay: section.settings.enable_autoplay,
                    autoplay_speed: section.settings.autoplay
                %}
            {%- else -%}
                {{ Announcements }}
            {%- endif -%}
            
            {% if section.settings.close_btn %}
                <button class="{{ cn }}-close" data-element="close">
                    {% render 'icon', name: 'x' %}
                </button>
            {% endif %}
        </{{ NS }}>

        {%- if section.settings.close_btn -%}
            <script type="module" src="{{ NS | append: '.js' | asset_url }}"></script>
        {%- endif -%}
    {%- endcapture -%}
{%- endif -%}

{% render 'section-body',
    content: Content,
    color_scheme: section.settings.color_scheme,
    bg_pattern: section.settings.pattern,
    bg_pattern_scale: section.settings.pattern_scale,
    bg_pattern_animation: section.settings.pattern_animation
%}

{% schema %}
{
"name": "Announcement bar",
  "tag": "section",
  "settings": [
    {
        "type": "paragraph",
        "content": "t:g.section.add_blocks"
    },
    {
        "type": "paragraph",
        "content": "More than one block is a slideshow"
    },
    {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Show on home page only",
        "default": false
    },
    {   
        "type": "checkbox",
        "id": "close_btn",
        "label": "Show close button",
        "default": false
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "accent",
        "label": "Color Scheme"
    },
    {
        "type": "select",
        "id": "pattern",
        "options": [
            {
                "value": "none",
                "label": "t:g.patterns.none"
            },
            {
                "value": "pattern-bubbles_100",
                "label": "t:g.patterns.bubbles"
            },
            {
                "value": "pattern-endless-clouds_56",
                "label": "t:g.patterns.endless_clouds"
            },
            {
                "value": "pattern-hideout_40",
                "label": "t:g.patterns.hideout"
            },
            {
                "value": "pattern-diagonal-lines_6",
                "label": "t:g.patterns.diagonal_lines"
            },
            {
                "value": "pattern-polka-dots_20",
                "label": "t:g.patterns.polka_dots"
            },
            {
                "value": "pattern-graph-paper_100",
                "label": "t:g.patterns.graph_paper"
            },
            {
                "value": "pattern-leaf_80",
                "label": "t:g.patterns.leaf"
            },
            {
                "value": "pattern-topography_600",
                "label": "t:g.patterns.topography"
            },
            {
                "value": "pattern-jigsaw_192",
                "label": "t:g.patterns.jigsaw"
            },
            {
                "value": "pattern-tic-tac-toe_64",
                "label": "t:g.patterns.tic_tac_toe"
            },
            {
                "value": "pattern-bank-note_100",
                "label": "t:g.patterns.bank_note"
            },
            {
                "value": "pattern-formal-invitation_100",
                "label": "t:g.patterns.formal_invitation"
            },
            {
                "value": "pattern-wiggle_52",
                "label": "t:g.patterns.wiggle"
            },
            {
                "value": "pattern-charlie-brown_20",
                "label": "t:g.patterns.charlie_brown"
            }
        ],
        "label": "t:g.patterns.settings.label",
        "default": "none",
        "info": "t:g.patterns.settings.info"
    },
    {
        "type": "range",
        "id": "pattern_scale",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "t:g.patterns.settings.label_scale",
        "default": 100
    },
    {
        "type": "select",
        "id": "pattern_animation",
        "label": "t:g.patterns.settings.label_animation",
        "options": [
            {
                "value": "none",
                "label": "t:g.patterns.settings.animation_options.no_animation"
            },
            {
                "value": "blink",
                "label": "t:g.patterns.settings.animation_options.blink"
            },
            {
                "value": "top",
                "label": "t:g.patterns.settings.animation_options.top"
            },
            {
                "value": "top-right",
                "label": "t:g.patterns.settings.animation_options.top_right"
            },
            {
                "value": "right",
                "label": "t:g.patterns.settings.animation_options.right"
            },
            {
                "value": "bottom-right",
                "label": "t:g.patterns.settings.animation_options.bottom_right"
            },
            {
                "value": "bottom",
                "label": "t:g.patterns.settings.animation_options.bottom"
            },
            {
                "value": "bottom-left",
                "label": "t:g.patterns.settings.animation_options.bottom_left"
            },
            {
                "value": "left",
                "label": "t:g.patterns.settings.animation_options.left"
            },
            {
                "value": "top-left",
                "label": "t:g.patterns.settings.animation_options.top_left"
            }
        ],
        "default": "none",
        "info": "t:g.patterns.settings.animation_info"
    },
    {
        "type": "header",
        "content": "Slider"
    },
    {
        "type": "checkbox",
        "id": "show_arrows_navigation",
        "label": "Show arrows",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "enable_autoplay",
        "label": "Enable autoplay",
        "default": true
    },
    {
        "type": "range",
        "id": "autoplay",
        "label": "Change slides every",
        "min": 2,
        "max": 10,
        "step": 1,
        "unit": "s",
        "default": 3
    }
  ],
  "blocks": [
    {
        "type": "announcement",
        "name": "Announcement",
        "limit": 4,
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Text",
                "default": "Free shipping over $50"
            },
            {
                "type": "url",
                "id": "link",
                "label": "t:g.common.label.link"
            },
            {
                "type": "select",
                "id": "icon",
                "label": "t:g.common.icon.label",
                "options": [
                    {
                        "value": "none",
                        "label": "t:g.icons.none"
                    },
                    {
                        "value": "bell",
                        "label": "t:g.icons.bell"
                    },
                    {
                        "value": "check",
                        "label": "t:g.icons.check"
                    },
                    {
                        "value": "clock",
                        "label": "t:g.icons.clock"
                    },
                    {
                        "value": "coins",
                        "label": "t:g.icons.coins"
                    },
                    {
                        "value": "credit-card",
                        "label": "t:g.icons.credit_card"
                    },
                    {
                        "value": "truck-delivery",
                        "label": "t:g.icons.truck_delivery"
                    },
                    {
                        "value": "discount",
                        "label": "t:g.icons.discount"
                    },
                    {
                        "value": "flag",
                        "label": "t:g.icons.flag"
                    },
                    {
                        "value": "mood-happy",
                        "label": "t:g.icons.mood_happy"
                    },
                    {
                        "value": "headphones",
                        "label": "t:g.icons.headphones"
                    },
                    {
                        "value": "heart",
                        "label": "t:g.icons.heart"
                    },
                    {
                        "value": "help",
                        "label": "t:g.icons.help"
                    },
                    {
                        "value": "info",
                        "label": "t:g.icons.info"
                    },
                    {
                        "value": "leaf",
                        "label": "t:g.icons.leaf"
                    },
                    {
                        "value": "lock",
                        "label": "t:g.icons.lock"
                    },
                    {
                        "value": "mail",
                        "label": "t:g.icons.mail"
                    },
                    {
                        "value": "map-marker",
                        "label": "t:g.icons.map_marker"
                    },
                    {
                        "value": "message",
                        "label": "t:g.icons.message"
                    },
                    {
                        "value": "pig-money",
                        "label": "t:g.icons.pig_money"
                    },
                    {
                        "value": "package",
                        "label": "t:g.icons.package"
                    },
                    {
                        "value": "phone",
                        "label": "t:g.icons.phone"
                    },
                    {
                        "value": "receipt",
                        "label": "t:g.icons.receipt"
                    },
                    {
                        "value": "recycle",
                        "label": "t:g.icons.recycle"
                    },
                    {
                        "value": "rocket",
                        "label": "t:g.icons.rocket"
                    },
                    {
                        "value": "shield-check",
                        "label": "t:g.icons.shield_check"
                    },
                    {
                        "value": "mood-smile",
                        "label": "t:g.icons.mood_smile"
                    },
                    {
                        "value": "star",
                        "label": "t:g.icons.star"
                    },
                    {
                        "value": "building-store",
                        "label": "t:g.icons.building_store"
                    },
                    {
                        "value": "tag",
                        "label": "t:g.icons.tag"
                    },
                    {
                        "value": "thumbs-up",
                        "label": "t:g.icons.thumbs_up"
                    },
                    {
                        "value": "users",
                        "label": "t:g.icons.users"
                    }
                ],
                "default": "none"
            }
        ]
    }
  ],
  "presets": [
    {
        "name": "Announcement bar",
        "blocks": [
            {
                "type": "announcement",
                "settings": {
                    "text": "Free shipping over $50",
                    "icon": "truck-delivery"
                }
            }
        ]
    }
  ],
  "limit": 1,
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}