{% liquid
    assign NS = 'utility-bar'
    assign cn = '#' | append: NS
%}

{% render 'load-css', file: NS, lazy: true %}

{%- if section.blocks.size != 0 -%}
    {%- capture Utility_items -%}
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'menu' -%}
                    {%- if block.settings.menu != blank -%}
                        <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                            <div class="{{ cn }}-menu">
                                {% for nav_item in block.settings.menu.links %}
                                    <a class="{{ cn }}-menu-link" href="{{ nav_item.url }}">
                                        {{ nav_item.title }}
                                    </a>
                                {%- endfor -%}
                            </div>
                        </div>
                    {%- endif -%}
                {%- when 'link' -%}
                    {%- if block.settings.link_label != blank -%}
                        <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                            <div class="{{ cn }}-text">
                                {%- if block.settings.link != blank -%}
                                    <a class="stretched-link " href="{{ block.settings.link }}" aria-label="{{ block.settings.link_label }}"></a>
                                {%- endif -%}
                                {%- if block.settings.icon != 'none' -%}
                                    <div class="{{ cn }}-text-icon">
                                        {% render 'icon', 
                                            name: block.settings.icon,
                                            load: true
                                        %}
                                    </div>
                                {%- endif -%} 
                                {{  block.settings.link_label }}
                            </div>
                        </div>
                    {%- endif -%}
                {%- when 'localization_selector' -%}
                    {%- assign dropdown_position = 'bottom-' | append: block.settings.position -%}
                    {%- if block.settings.show_localization_selector and localization.available_languages.size > 1 -%}
                    <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                            <div class="{{ cn }}-localization">
                                {%- capture Language_toggle -%}
                                    <div class="{{ cn }}-localization-button">
                                        <span>
                                            {{ localization.language.name }} ({{ localization.language.iso_code | upcase }})
                                        </span>
                                        <div class="{{ cn }}-localization-button-caret">
                                            {% render 'icon', name: 'angle-down' %}
                                        </div>
                                    </div>
                                {%- endcapture -%}
                                {% render 'localization-dropdown',
                                    toggle: Language_toggle,
                                    position: dropdown_position,
                                    placement: 'side-bottom'
                                    src: 'language'
                                %}
                            </div>
                    </div>
                    {%- endif -%}
                        {%- if block.settings.show_country_selector and localization.available_countries.size > 1 -%}
                    <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                            <div class="{{ cn }}-localization">
                                {%- capture Country_toggle -%}
                                    <div class="{{ cn }}-localization-button">
                                        <span>
                                            {{ localization.country.name }} ({{ localization.country.currency.iso_code }}{% if localization.country.currency.symbol != blank %} {{ localization.country.currency.symbol }}{% endif %})
                                        </span>
                                        <div class="{{ cn }}-localization-button-caret">
                                            {% render 'icon', name: 'angle-down' %}
                                        </div>
                                    </div>
                                {%- endcapture -%}
                                {% render 'localization-dropdown',
                                    toggle: Country_toggle,
                                    position: dropdown_position,
                                    placement: 'side-bottom',
                                    src: 'country'
                                %}
                            </div>
                                    </div>
                        {%- endif -%}

                {%- when 'social_menu' -%}
                    <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                        <div class="{{ cn }}-social-profiles">
                            {% render 'social-profiles', new_tab: block.settings.social_new_tab %}
                        </div>
                    </div>

                {%- when 'mail_link' -%}
                    {%- if block.settings.mail_address != blank -%}
                        <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                            <div class="{{ cn }}-contact">
                                <a class="{{ cn }}-contact-link" href="mailto:{{ block.settings.mail_address }}">
                                    {%- if block.settings.icon != 'none' -%}
                                        <div class="{{ cn }}-contact-icon">
                                            {% render 'icon', 
                                                name: block.settings.icon,
                                                load: true
                                            %}
                                        </div>
                                    {%- endif -%} 
                                    {{  block.settings.mail_address }} 
                                </a>
                            </div>
                        </div>
                    {%- endif -%}

                {%- when 'phone_link' -%}
                    {%- if block.settings.phone_number != blank -%}
                        <div class="{{ cn }}-item {{ block.settings.position }}" {{ block.shopify_attributes }}>
                            <div class="{{ cn }}-contact">
                                <a class="{{ cn }}-contact-link" href="tel:{{ block.settings.phone_number }}">
                                    {%- if block.settings.icon != 'none' -%}
                                        <div class="{{ cn }}-contact-icon">
                                            {% render 'icon', 
                                                name: block.settings.icon,
                                                load: true
                                            %}
                                        </div>
                                    {%- endif -%} 
                                    {{ block.settings.phone_number }}
                                </a>
                            </div>
                        </div>
                    {%- endif -%}
            {%- endcase -%}
        {%- endfor -%}
    {%- endcapture -%}
    <div class="{{ cn }} initial-hidden mobile-hidden" style="--{{ NS }}-bg-color: {{ section.settings.bg_color }}; --{{ NS }}-text-color: {{ section.settings.text_color }};">
        <div class="#container @width:{{ settings.header_layout }}">
            <div class="{{ cn }}-inner">
                {{ Utility_items }}
            </div>
        </div>
    </div>
{%- endif -%}

{% render 'main-nav-mobile-toolbar' %}

{% schema %}
{
    "name": "Header utility bar",
    "settings": [
        {
            "type": "paragraph",
            "content": "This section will collapse into navigation on mobile devices"
        },
        {
            "type": "paragraph",
            "content": "t:g.section.add_blocks"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:g.common.color.text",
            "default": "#163340"
        },
        {
           "type": "color",
           "id": "bg_color",
           "label": "t:g.common.color.bg",
           "default": "#FFFFFF"
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "radio",
                    "id": "position",
                    "label": "t:sections.header.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:g.common.label.heading",
                    "default": "Menu"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "default": "main-menu",
                    "label": "t:sections.header.settings.menu.label",
                    "info": "Only first menu level is used"
                }
            ]
        },
        {
            "type": "link",
            "name": "Link",
            "settings": [
                {
                    "type": "radio",
                    "id": "position",
                    "label": "t:sections.header.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "text",
                    "id": "link_label",
                    "label": "t:g.common.label.title",
                    "default": "Link"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:g.common.label.link"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "label": "t:g.common.icon.label",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:g.icons.none"
                        },
                        {
                            "value": "bell",
                            "label": "t:g.icons.bell"
                        },
                        {
                            "value": "check",
                            "label": "t:g.icons.check"
                        },
                        {
                            "value": "clock",
                            "label": "t:g.icons.clock"
                        },
                        {
                            "value": "coins",
                            "label": "t:g.icons.coins"
                        },
                        {
                            "value": "credit-card",
                            "label": "t:g.icons.credit_card"
                        },
                        {
                            "value": "truck-delivery",
                            "label": "t:g.icons.truck_delivery"
                        },
                        {
                            "value": "discount",
                            "label": "t:g.icons.discount"
                        },
                        {
                            "value": "flag",
                            "label": "t:g.icons.flag"
                        },
                        {
                            "value": "mood-happy",
                            "label": "t:g.icons.mood_happy"
                        },
                        {
                            "value": "headphones",
                            "label": "t:g.icons.headphones"
                        },
                        {
                            "value": "heart",
                            "label": "t:g.icons.heart"
                        },
                        {
                            "value": "help",
                            "label": "t:g.icons.help"
                        },
                        {
                            "value": "info",
                            "label": "t:g.icons.info"
                        },
                        {
                            "value": "leaf",
                            "label": "t:g.icons.leaf"
                        },
                        {
                            "value": "lock",
                            "label": "t:g.icons.lock"
                        },
                        {
                            "value": "mail",
                            "label": "t:g.icons.mail"
                        },
                        {
                            "value": "map-marker",
                            "label": "t:g.icons.map_marker"
                        },
                        {
                            "value": "message",
                            "label": "t:g.icons.message"
                        },
                        {
                            "value": "pig-money",
                            "label": "t:g.icons.pig_money"
                        },
                        {
                            "value": "package",
                            "label": "t:g.icons.package"
                        },
                        {
                            "value": "phone",
                            "label": "t:g.icons.phone"
                        },
                        {
                            "value": "receipt",
                            "label": "t:g.icons.receipt"
                        },
                        {
                            "value": "recycle",
                            "label": "t:g.icons.recycle"
                        },
                        {
                            "value": "rocket",
                            "label": "t:g.icons.rocket"
                        },
                        {
                            "value": "shield-check",
                            "label": "t:g.icons.shield_check"
                        },
                        {
                            "value": "mood-smile",
                            "label": "t:g.icons.mood_smile"
                        },
                        {
                            "value": "star",
                            "label": "t:g.icons.star"
                        },
                        {
                            "value": "building-store",
                            "label": "t:g.icons.building_store"
                        },
                        {
                            "value": "tag",
                            "label": "t:g.icons.tag"
                        },
                        {
                            "value": "thumbs-up",
                            "label": "t:g.icons.thumbs_up"
                        },
                        {
                            "value": "users",
                            "label": "t:g.icons.users"
                        }
                    ],
                    "default": "none"
                }
            ]
        },
        {
            "type": "localization_selector",
            "name": "Localization selector",
            "limit": 1,
            "settings": [
                {
                    "type": "radio",
                    "id": "position",
                    "label": "t:sections.header.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "checkbox",
                    "id": "show_country_selector",
                    "label": "t:g.l10n.show_country_selector.label",
                    "default": true,
                    "info": "t:g.l10n.show_country_selector.info"
                },
                {
                    "type": "checkbox",
                    "id": "show_localization_selector",
                    "label": "t:g.l10n.show_language_selector.label",
                    "info": "t:g.l10n.show_language_selector.info"
                }
            ]
        },
        {
            "type": "social_menu",
            "name": "Social media icons",
            "limit": 1,
            "settings": [
                {
                    "type": "radio",
                    "id": "position",
                    "label": "t:sections.header.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "checkbox",
                    "id": "social_new_tab",
                    "label": "Open social media profiles in a new tab",
                    "default": true
                }
            ]
        },
        {
            "type": "mail_link",
            "name": "Mail link",
            "limit": 1,
            "settings": [
                {
                    "type": "radio",
                    "id": "position",
                    "label": "t:sections.header.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "text",
                    "id": "mail_address",
                    "label": "Email address",
                    "default": "info@multi.com"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "label": "t:g.common.icon.label",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:g.icons.none"
                        },
                        {
                            "value": "bell",
                            "label": "t:g.icons.bell"
                        },
                        {
                            "value": "check",
                            "label": "t:g.icons.check"
                        },
                        {
                            "value": "clock",
                            "label": "t:g.icons.clock"
                        },
                        {
                            "value": "coins",
                            "label": "t:g.icons.coins"
                        },
                        {
                            "value": "credit-card",
                            "label": "t:g.icons.credit_card"
                        },
                        {
                            "value": "truck-delivery",
                            "label": "t:g.icons.truck_delivery"
                        },
                        {
                            "value": "discount",
                            "label": "t:g.icons.discount"
                        },
                        {
                            "value": "flag",
                            "label": "t:g.icons.flag"
                        },
                        {
                            "value": "mood-happy",
                            "label": "t:g.icons.mood_happy"
                        },
                        {
                            "value": "headphones",
                            "label": "t:g.icons.headphones"
                        },
                        {
                            "value": "heart",
                            "label": "t:g.icons.heart"
                        },
                        {
                            "value": "help",
                            "label": "t:g.icons.help"
                        },
                        {
                            "value": "info",
                            "label": "t:g.icons.info"
                        },
                        {
                            "value": "leaf",
                            "label": "t:g.icons.leaf"
                        },
                        {
                            "value": "lock",
                            "label": "t:g.icons.lock"
                        },
                        {
                            "value": "mail",
                            "label": "t:g.icons.mail"
                        },
                        {
                            "value": "map-marker",
                            "label": "t:g.icons.map_marker"
                        },
                        {
                            "value": "message",
                            "label": "t:g.icons.message"
                        },
                        {
                            "value": "pig-money",
                            "label": "t:g.icons.pig_money"
                        },
                        {
                            "value": "package",
                            "label": "t:g.icons.package"
                        },
                        {
                            "value": "phone",
                            "label": "t:g.icons.phone"
                        },
                        {
                            "value": "receipt",
                            "label": "t:g.icons.receipt"
                        },
                        {
                            "value": "recycle",
                            "label": "t:g.icons.recycle"
                        },
                        {
                            "value": "rocket",
                            "label": "t:g.icons.rocket"
                        },
                        {
                            "value": "shield-check",
                            "label": "t:g.icons.shield_check"
                        },
                        {
                            "value": "mood-smile",
                            "label": "t:g.icons.mood_smile"
                        },
                        {
                            "value": "star",
                            "label": "t:g.icons.star"
                        },
                        {
                            "value": "building-store",
                            "label": "t:g.icons.building_store"
                        },
                        {
                            "value": "tag",
                            "label": "t:g.icons.tag"
                        },
                        {
                            "value": "thumbs-up",
                            "label": "t:g.icons.thumbs_up"
                        },
                        {
                            "value": "users",
                            "label": "t:g.icons.users"
                        }
                    ],
                    "default": "mail"
                }
            ]
        },
        {
            "type": "phone_link",
            "name": "Phone link",
            "limit": 1,
            "settings": [
                {
                    "type": "radio",
                    "id": "position",
                    "label": "t:sections.header.settings.position.label",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "text",
                    "id": "phone_number",
                    "label": "Phone number",
                    "default": "(555) 555-1234"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "label": "t:g.common.icon.label",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:g.icons.none"
                        },
                        {
                            "value": "bell",
                            "label": "t:g.icons.bell"
                        },
                        {
                            "value": "check",
                            "label": "t:g.icons.check"
                        },
                        {
                            "value": "clock",
                            "label": "t:g.icons.clock"
                        },
                        {
                            "value": "coins",
                            "label": "t:g.icons.coins"
                        },
                        {
                            "value": "credit-card",
                            "label": "t:g.icons.credit_card"
                        },
                        {
                            "value": "truck-delivery",
                            "label": "t:g.icons.truck_delivery"
                        },
                        {
                            "value": "discount",
                            "label": "t:g.icons.discount"
                        },
                        {
                            "value": "flag",
                            "label": "t:g.icons.flag"
                        },
                        {
                            "value": "mood-happy",
                            "label": "t:g.icons.mood_happy"
                        },
                        {
                            "value": "headphones",
                            "label": "t:g.icons.headphones"
                        },
                        {
                            "value": "heart",
                            "label": "t:g.icons.heart"
                        },
                        {
                            "value": "help",
                            "label": "t:g.icons.help"
                        },
                        {
                            "value": "info",
                            "label": "t:g.icons.info"
                        },
                        {
                            "value": "leaf",
                            "label": "t:g.icons.leaf"
                        },
                        {
                            "value": "lock",
                            "label": "t:g.icons.lock"
                        },
                        {
                            "value": "mail",
                            "label": "t:g.icons.mail"
                        },
                        {
                            "value": "map-marker",
                            "label": "t:g.icons.map_marker"
                        },
                        {
                            "value": "message",
                            "label": "t:g.icons.message"
                        },
                        {
                            "value": "pig-money",
                            "label": "t:g.icons.pig_money"
                        },
                        {
                            "value": "package",
                            "label": "t:g.icons.package"
                        },
                        {
                            "value": "phone",
                            "label": "t:g.icons.phone"
                        },
                        {
                            "value": "receipt",
                            "label": "t:g.icons.receipt"
                        },
                        {
                            "value": "recycle",
                            "label": "t:g.icons.recycle"
                        },
                        {
                            "value": "rocket",
                            "label": "t:g.icons.rocket"
                        },
                        {
                            "value": "shield-check",
                            "label": "t:g.icons.shield_check"
                        },
                        {
                            "value": "mood-smile",
                            "label": "t:g.icons.mood_smile"
                        },
                        {
                            "value": "star",
                            "label": "t:g.icons.star"
                        },
                        {
                            "value": "building-store",
                            "label": "t:g.icons.building_store"
                        },
                        {
                            "value": "tag",
                            "label": "t:g.icons.tag"
                        },
                        {
                            "value": "thumbs-up",
                            "label": "t:g.icons.thumbs_up"
                        },
                        {
                            "value": "users",
                            "label": "t:g.icons.users"
                        }
                    ],
                    "default": "phone"
                }
            ]
        }
    ],
    "limit": 1,
    "enabled_on": {
        "groups": ["header"]
    },
    "presets": [
        {
            "name": "Header utility bar"
        }
    ]
}
{% endschema %}